@import "tailwindcss";
@import "flowbite/dist/flowbite.min.css";
@config "../tailwind.config.cjs";

body {
  margin: 0;
  min-height: 100vh;
  background: #f8fafc;
}

.plot-container .svg-container {
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .sidebar-desktop {
    display: block !important;
    translate: 0 0 !important;
  }
}
